<div class="comment" id="comment-<%= comment._id %>">
    <div class="name">
        <span>
            <% if(post.user.avatar){ %>
                <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>" />
            <% } else { %>
                <img src="<%=assetPath('images/default-avatar.png')%>" alt="<%= post.user.name %>" />
            <% } %>
            <%= comment.user.name %>
        </span>
        <% if(locals.user && (locals.user.id==comment.user.id )){ %>
            <div>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa-solid fa-circle-chevron-down"></i></button>
                    <div class="dropdown-content"><a class="delete-comment-button"
                            href="/comments/destroy/<%= comment.id %>">Delete</a>
                    </div>
                </div>
            </div>
            <%}%>
    </div>
    <div class="content">
        <%= comment.content %>
    </div>
    <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    <!-- study about the data attribute -->
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>"
                href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                <button class="like__btn">
                    <span id="icon"><i class="fas fa-thumbs-up"></i></span>
                    <span id="count">
                        <%= comment.likes.length %>
                    </span> Like
                </button>
            </a>
        <% }else{ %>
            <button class="like__btn">
                <span id="icon"><i class="far fa-thumbs-up"></i></span>
                <span id="count">
                    <%= comment.likes.length %>
                </span> 
            </button>
        <% } %>
    </small>
</div>