<!--Display Friends-->
<div id="ithfriend-<%=u._id%>" class="ithfriend">
    
    <div class="friend-container">
        <div class="friend-avatar">       
            <%if(u.avatar){%>
                <img src="<%=u.avatar%>" alt="<%=u.name%>" class="friend-avatar-img">
            <%}else {%>
               
                <img src="<%=assetPath('images/default-avatar.png')%>"  class="friend-avatar-img">
            <%}%>
        </div>
        <div class="friend-name">
            <a href="/users/profile/<%=u.id%>">
            <h2 style="margin: 0;"><%=u.name.split(' ')[0]%></h2>
            </a>
        </div>
        <div class="message-contiainer"><button class="message-btn" data-friendId="<%=u.id%>" type="button"><i class="fa-solid fa-message"></i></button></div>
    </div>
</div>