<!--Display Friends-->
<div id="ithfriend-<%=u._id%>" class="ithfriend">

  <div class="ithcard pe-2 d-flex flex-row justify-content-between align-items-center">
    <div class="image d-flex flex-column justify-content-center align-items-center">
      <%if(u.avatar){%>
      <img src=" <%=u.avatar%>" alt="<%=u.name%>" class="img-fluid" />
      <%}else {%>
      <img src="<%=assetPath('images/default-avatar.png')%>" class="img-fluid" /><%}%>
      </div>
    <div class="friend-name">
            <a href="/users/profile/<%=u.id%>" class="friend-name-link">
      <h5 style="margin: 0;"><%=u.name.split(' ')[0].charAt(0).toUpperCase() + u.name.split(' ')[0].slice(1)%></h5>
      <i class="fa fa-2x fa-arrow-circle-right d-none d-lg-block" aria-hidden="true"></i>
      </a>
    </div>

  </div>