<header id="mynavbar" class="topnav">
    <nav id="reload" >
        <div class="active">
            <a href="/"><img src="<%=assetPath('images/logo_icon.png')%>" alt="logo">
                <div>
                    <p id="website-name">Codeial</p>
                </div>
            </a>
        </div>
        
        <ul>
            <% if(locals.user){ %>
                <li><input type="hidden" id="currentuser" value="<%=locals.user.username%>"></li>
                <li class="search-li"><input type="text" id="search-name" class="search" name="filtername" placeholder="Enter Name"></li>
                
                <li class="friend-dropdown-li">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="openDropdown()"><span>Friend Request</span><i class="fa fa-user-plus"></i></button>
                        <div id="myDropdown" class="dropdown-content" style=" height: 350px; overflow-y: scroll;">
                        <%if(user.request && user.request.length!=0) {%>
                            <% for(i of newfriend){%>
                                <div >
                                    
                                        <div>
                                            <h4>
                                                <%=i.username%>
                                            </h4>
                                        </div>
                                        <div>
                                            <div >
                                                <input type="hidden" name="senderId" id="senderId" value="<%=i.userId%>">
                                                <input type="hidden" name="senderName" id="senderName" value="<%=i.username%>">
                                                <button type="submit" id="accept_friend" class="btn" ><i class="fa-solid fa-check"></i></button>
                                            </div>
                                            <div >
                                                <input type="hidden" name="user_Id" id="user_Id" value="<%=i.userId%>">
                                                <button type="submit" id="cancel_friend" class="btn" ><i class="fa-solid fa-xmark"></i></button>
                                            </div>
                                        </div>
                                    
                                </div>
                            <%}%>
                        <%}else{%>
                            <div>
                                <h4 style="text-align:center">No requests</h4>
                            </div>
                        <%}%>
                        </div>
                    </div>
                </li>

                <li class="profile-li"><a href="/users/profile/<%= user._id %>"><button><span><%= user.name.split(' ')[0] %></span><i style="display: none;" class="fa-solid fa-user"></i></button></a></li>
            <li class="signout-li">
                <a href="/users/signout"><button><span>Sign-Out</span><i style="display:none;"class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
            
            </li>
        <% }else{%>
            <li>
                <a href="/users/login"><button>Sign-In</button></a>
            </li>
            <li>
                <a href="/users/signup"><button>Sign-Up</button></a>
            </li>
        <%}%>
    </ul>
    <%if(locals.user){%>
    <a href="javascript:void(0);" class="icon" onclick="opennav()">
        <i class="fa fa-bars"></i>
      </a>
    <%}%>
    </nav>
</header>
<script>
    
    $(function () {

        $('#search-name').autocomplete({
            source: function (req, res) {
                $.ajax({
                    url: '/autocomplete',
                    dataType: 'jsonp', type: 'GET', data: req, success: function (data) {
                        res(data);
                    }, error: function (err) { console.log(err); }
                })
            }, minLength: 1, select: function
                (event, ui) { window.location.href = '/users/profile/' + ui.item.id; }
        });
        $('#search-name').keyup(function (e) {
            if (e.keyCode == 13) { 
                if ($('#search-name').val() != '') { 
                    window.location.href = '/search/' + $('#search-name').val();
                }
            }
        });    
    }) 
    function openDropdown(){
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')&&!event.target.matches('.dropbtn > i')&&!event.target.matches('.dropdown-content')&&!event.target.matches('.dropdown-content div,.dropdown-content a,.dropdown-content button,.dropdown-content input,.dropdown-content h4')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var opendropdown = dropdowns[i];
                if (opendropdown.classList.contains('show')) {
                    opendropdown.classList.remove('show');
                }
            }
        }
    }
    function opennav() {
      var x = document.getElementById('mynavbar')
      console.log(x,x.className)
      if (x.className === "topnav") {
         x.className += " responsive";
      } else {
         x.className = "topnav";
      }
    } 
</script>