<header id="mynavbar" class="topnav">
  <nav id="reload" class="navbar <%=locals.user?" navbar-expand-md":"navbar-expand-sm"%>">
    <div class="container-fluid">
      <div class="navbar-brand logo-container">
        <a href="/">
          <img src="<%=assetPath('images/logo.png')%>" alt="logo" class="img-fluid">
          <div>
            <h2 id="website-name">&nbsp;SocioKnct</h2>
          </div>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <% if(locals.user){ %>

        <ul class="navbar-nav navmenucont ms-auto mb-2 mb-lg-0 gap-2 ">
          <li class="search-li nav-item">
            <div class="form">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control form-input " placeholder="Search Users" id="search-name" class="search" name="filtername">
            </div>
          </li>
          <li class="nav-item">
            <input type="hidden" id="currentuser" value="<%=locals.user.username%>">
          </li>
          <li class="nav-item align-self-center">
            <button class="nav-btn p-2">
              <i class="fa fa-bell"></i>
            </button>
          </li>
          <li class="nav-item align-self-center">
            <button class="nav-btn p-2">
              <i class="fa-brands fa-rocketchat"></i>
            </button>
          </li>
          <li class="profile-li nav-item">
            <a href="/users/profile/<%= user._id %>">
              <button class="nav-btn prof-btn py-0 px-0 pe-lg-2 ps-0"><% if (user.avatar) { %> <img src="<%= user.avatar %>" alt="profile" class=" prof-icon rounded-circle">
                <% } else { %>
                <i class="fa-solid fa-user"></i>
                <% } %>
                <span class="d-none d-lg-inline"><%= user.name.split(' ')[0] %></span></button></a>
          </li>
          <li class="signout-li nav-item align-self-center  ">
            <a href="/users/signout">
              <button class="nav-btn py-2 py-lg-1">
                <span class="d-none d-lg-inline">Logout&nbsp;</span>
                <i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>

          </li>
        </ul>
        <% }else{%>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
          <li class="nav-item text-center">
            <a href=" /users/login"><button class="nav-btn">Login</button></a>
          </li>
          <li class="nav-item text-center">
            <a href="/users/signup"><button class="nav-btn">Register</button></a>
          </li>
        </ul>
        <%}%>
    
    </div>
    <!-- <%if(locals.user){%>
        <a href="javascript:void(0);" class="icon" onclick="opennav()">
          <i class="fa fa-bars"></i>
        </a>
        <%}%> -->
    </div>
    </nav>
</header>
<script>
    
    $(function () {

        $('#search-name').autocomplete({
            source: function (req, res) {
                $.ajax({
                    url: '/autocomplete',
                    dataType: 'jsonp', type: 'GET', data: req, success: function (data) {
                        res(data);
                    }, error: function (err) { console.log(err); }
                })
            }, minLength: 1, select: function
                (event, ui) { window.location.href = '/users/profile/' + ui.item.id; }
        });
        $('#search-name').keyup(function (e) {
            if (e.keyCode == 13) { 
                if ($('#search-name').val() != '') { 
                    window.location.href = '/search/' + $('#search-name').val();
                }
            }
        });    
    }) 
    function openDropdown(){
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')&&!event.target.matches('.dropbtn > i')&&!event.target.matches('.dropdown-content')&&!event.target.matches('.dropdown-content div,.dropdown-content a,.dropdown-content button,.dropdown-content input,.dropdown-content h4')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var opendropdown = dropdowns[i];
                if (opendropdown.classList.contains('show')) {
                    opendropdown.classList.remove('show');
                }
            }
        }
    }
    function opennav() {
      var x = document.getElementById('mynavbar')
      console.log(x,x.className)
      if (x.className === "topnav") {
         x.className += " responsive";
      } else {
         x.className = "topnav";
      }
    } 
</script>