<!-- Reply item START -->
<li class="comment-item mb-2" id="reply-<%= reply._id %>">
  <div class="d-flex ithreply">
    <!-- Avatar -->
    <div class="avatar avatar-xs">
      <a href="#!">
        <img class="avatar-img rounded-circle" src="<%= reply.user.avatar ? reply.user.avatar : assetPath('images/default-avatar.png') %>" alt="<%= reply.user.name %>" />
      </a>
    </div>
    <!-- Reply by -->
    <div class="ms-2 w-100">
      <div class="bg-light pe-2 pe-sm-3 p-3 rounded">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center w-100 justify-content-between">

            <h6 class="mb-1 card-title d-flex flex-wrap gap-1 align-items-center justify-content-between flex-grow-1">
              <a href="#!"> <%= reply.user.name %> </a>
              <div class="text-muted  small ps-0  time-posted">
                <%= new Date(reply.createdAt).toLocaleString() %>
              </div>
            </h6>

            <div class="dropdown ms-1">
              <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="replyAction" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-h text-muted"></i>
              </a>
              <!-- Card feed action dropdown menu -->
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="replyAction">
                <% if (locals.user && locals.user.id == reply.user.id) { %>
                <li>
                  <a class="dropdown-item" href="/post/destroy/<%= post.id %>">
                    <i class="fa fa-edit fa-fw pe-2"></i>
                    Edit Reply
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/comments/destroy-reply/<%= reply._id %>">
                    <i class="fa fa-trash fa-fw pe-2"></i>
                    Delete Reply
                  </a>
                </li>
                <% } else if (locals.user) { %>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa fa-user fa-fw pe-2"></i>
                    Unfollow
                    <strong class="text-capitalize">
                      <%= comment.user.name %>
                    </strong>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa fa-flag fa-fw pe-2"></i>
                    Report Reply</a>
                </li>

                <% } %>
              </ul>
            </div>
          </div>
          <p class="small mb-0"><%= reply.content %></p>
          <!-- Like Button -->
        </div>
      </div>
      <div class="share">
        <% if (locals.user) { %>

        <a href="/likes/toggle/?id=<%= reply._id %>&type=CommentReply" data-likes="<%= reply.likes.length %>" class="text-muted small toggle-like-button">
          <% if(reply.likes.find((like)=> { return like.user._id.toString() ==
          locals.user._id.toString()})) { %>
          <span class="liked">
            <i class="fa fa-thumbs-up fa-fw pe-2"></i>Liked (<%=
            reply.likes.length %>)</span>
          <% }else{ %>
          <span><i class="fa fa-thumbs-up fa-fw pe-2"></i>Like (<%=
            reply.likes.length %>)</span>
          <% } %>
        </a>
        <% }else{ %>
        <div class="text-muted small fw-bold">
          <i class="fa fa-thumbs-up fa-fw pe-2"></i> Likes (<%=
          reply.likes.length%>)
        </div>
        <%}%>
      </div>
    </div>
  </div>
</li>