<link rel="stylesheet" href="/css/chats.css" />

<div id="chat-flex">
  <div class="chat-flex-child" id="chat-room-name">
    <div class="chat-room-users">
      <h2>Chat Room</h2>
    </div>
    <div id="roomlist">
      <%for(friend of friends){%>
      <div
        class="chat-list"
        id="friend-<%=friend._id%>"
        data-friendId="<%=friend._id%>"
      >
        <div class="friend-wrapper">
          <div class="friend-avatar">
            <%if(friend.avatar){%>
            <img src="<%=friend.avatar%>" />
            <%}else{%>
            <img
              src="<%= assetPath('images/codeial-default-avatar2.png') %>"
              alt="image"
            />
            <%}%>
          </div>
          <div class="friend-name"><%=friend.name%></div>
        </div>
      </div>
      <%}%> <%if(friends.length===0){%>
      <div class="no-friend">
        <h2>You don't have any friends to show...</h2>
      </div>
      <%}%>
    </div>
  </div>

  <div class="chat-flex-child chat-room-display"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script>
