<link rel="stylesheet" href="<%= assetPath('css/home.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>" />
<div id="home-containe" class="container-fluid mx-0 px-0 py-4 py-lg-5">
  <% if (locals.user) { %>
  <div class="d-none d-md-block" id="local-user-data" data-user='<%= JSON.stringify(locals.user) %>'>

  </div>
  <% } %>
  <!-- Bootstrap loader -->


  <div class="row mx-0 px-sm-4 justify-content-center">
    <div class="col-12  col-md-4 col-lg-3 px-1">

      <% if (locals.user) { %>
      <div class="d-none d-md-block">
        <%- include('_infocard') %>
      </div>
      <div class="px-1 px-sm-3 px-md-0 mb-2 mb-md-0" id="weather-containers">
        <%- include('_weather') %>
      </div>

      <% } %>
      <div class="d-none d-md-block d-lg-none" id="freiends-news-tab">
        <% if (locals.users) { %>
        <section id="user-friends" class="mb-2 mt-2">
          <div class="container-fluid p-0 m-0 d-flex justify-content-center">
            <div class="outercard card m-0 p-0 p-lg-3 pt-3 gap-3">
              <div class="headline d-flex justify-content-between px-4 px-lg-0">
                <h5 class="text-dark m-0 p-0">Friends</h5>
                <i class="fa fa-users"></i>
              </div>
              <div id="friends-reload" class="px-1 px-lg-1">
                <% if (locals.user && friends.length > 0) { %>
                <div id="friend-list">
                  <% for (u of friends) { %> <%- include('_friend') %> <% } %>
                </div>
                <% } else { %>
                <div class="text-center">
                  <h6 class="text-dark m-0 p-0">
                    No Friends. Search for users to add friends.
                  </h6>
                </div>

                <% } %>
              </div>
            </div>
          </div>
        </section>
        <%- include('_news') %> <% } %>
      </div>
    </div>
    <div class="d-md-none pb-2 pb-md-0">
      <hr>
    </div>
    <div class="mx-0 px-0 col-12 col-md-8 col-lg-6 feed">
      <section id="feed-posts">
        <% if (locals.user) { %>
        <section id="post-form-container" class="mb-2 px-2 px-sm-3">
          <div class="card card-body">
            <div class="d-flex mb-3 card-en align-items-center">
              <!-- Avatar -->
              <div class="avatar avatar-xs me-2">
                <a href="/users/profile/<%= locals.user.id %>">
                  <img class="avatar-img" src="<%= locals.user.avatar %>" alt="avatar" />
                </a>
              </div>
              <!-- Post input -->

              <form class="w-100 m-0 p-0">
                <textarea class="form-control pe-4 border-0" rows="2" data-autoresize disabled placeholder="Share your thoughts..."></textarea>
              </form>
            </div>
            <!-- Share feed toolbar START -->
            <ul class="nav nav-pills nav-stack small fw-normal gap-3">
              <li class="nav-item">
                <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto">
                  <i class="fa fa-camera text-success pe-2"></i>
                  Photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionVideo">
                  <i class="fa fa-video-camera text-danger pe-2"></i>
                  Video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionAudio">
                  <i class="fa fa-music text-warning pe-2"></i>
                  Audio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#modalCreateFeed">
                  <i class="fa-solid fa-newspaper"></i>&nbsp; Article</a>
              </li>
              <li class="nav-item dropdown ms-lg-auto">
                <a class="nav-link bg-light py-1 px-2 mb-0" href="#" id="feedActionShare" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-h text-muted"></i>
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedActionShare">
                  <li>
                    <a class="dropdown-item" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPoll">
                      <i class="bi bi-envelope fa-fw pe-2"></i>Create a poll</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bi bi-bookmark-check fa-fw pe-2"></i>Ask a
                      question
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bi bi-pencil-square fa-fw pe-2"></i>Help</a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- Share feed toolbar END -->
          </div>
          <!-- <form action="/posts/create" enctype="multipart/form-data" id="new-post-form" class="form-for-post" method="post">
          <textarea name="content" id="content" cols="25" rows="3" placeholder="Type Here.." required></textarea>
          <div id="post-image-preview"></div>
          <input type="file" name="image" id="image" accept="image/*">
          <input type="submit" value="Post" id="post-submit">
        </form> -->
        </section>

        <% } %>
        <!--Listing post-->
        <div id="refresh-post">
          <button id="refresh-post-button" class="btn btn-primary btn-sm d-none">New Post</button>
        </div>
        <div id="post-list-container" class="px-2 px-sm-3">
          <div id="post-list-container-div">
            <% for (post of posts) { %> <%- include('_post') %> <% } %>
          </div>
        </div>
      </section>
    </div>
    <div class="d-none d-lg-block col-lg-3" id="right-sidebar">
      <% if (locals.users) { %>


      <div class="" id="news-card-container">
        <%- include('_news') %>
      </div>
      <div class="" id="user-friends-container">
        <section id="user-friends" class="mt-2">
          <div class="container p-0 m-0 d-flex justify-content-center">
            <div class="outercard card m-0 p-0 p-lg-3 pt-3 gap-3">
              <div class="headline d-flex justify-content-between px-4 px-lg-0">
                <h5 class="text-dark m-0 p-0">Friends</h5>
                <i class="fa fa-users"></i>
              </div>
              <div id="friends-reload" class="px-1 px-lg-1">
                <% if (locals.user && friends.length > 0) { %>
                <div id="friend-list">
                  <% for (u of friends) { %> <%- include('_friend') %> <% } %>
                </div>
                <% } else { %>
                <div class="text-center">
                  <h6 class="text-dark m-0 p-0">
                    No Friends. Search for users to add friends.
                  </h6>
                </div>

                <% } %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% } %>
    </div>
  </div>
  <% if (locals.user) { %>
  <div class="d-none d-lg-block" id="chatbox">
    <!-- Button -->
    <a class="chat-icon btn btn-primary " data-bs-toggle="offcanvas" href="#offcanvasChat" role="button" aria-controls="offcanvasChat">
      <i class="fa-solid fa-message fa-2x"></i>
    </a>
    <!-- Chat sidebar START -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="false" data-bs-backdrop="false" tabindex="-1" id="offcanvasChat">
      <!-- Offcanvas header -->
      <div class="offcanvas-header d-flex justify-content-between">
        <h5 class="offcanvas-title">Messaging</h5>
        <div class="d-flex">
          <!-- New chat box open button -->
          <a href="#" class="btn btn-secondary-soft-hover py-1 px-2">
            <i class="fa fa-pencil me-2"></i>
          </a>
          <!-- Chat action START -->
          <div class="dropdown">
            <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" id="chatAction" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </a>
            <!-- Chat action menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="chatAction">

              <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-user-group"></i> Create Group Chat </a></li>
            </ul>
          </div>
          <!-- Chat action END -->

          <!-- Close  -->
          <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>

        </div>
      </div>
      <!-- Offcanvas body START -->
      <div class="offcanvas-body pt-0 custom-scrollbar ">

        <div class="os-content" style="padding: 0px 0px 16px; height: 90%; width: 100%;">

          <!-- Search contact END -->
          <ul class="list-unstyled">
            <% for( let friend of friends) { %>
            <!-- Contact item -->
            <li class="mt-3 hstack gap-3 align-items-center position-relative toast-btn" data-target="chatToast-<%= friend.id %>" data-friend-id="<%= friend.id %>">
              <!-- Avatar -->
              <div class="avatar status-online">
                <img class="avatar-img rounded-circle" src="<%= friend.avatar ? friend.avatar : assetPath('images/default-avatar.png') %>" alt="">
              </div>
              <!-- Info -->
              <div class="overflow-hidden">
                <a class="h6 mb-0 stretched-link" href="#!"><%= friend.name %> </a>
                <div class="small text-secondary text-truncate">Frances sent a photo.</div>
              </div>
              <!-- Chat time -->
              <div class="small ms-auto text-nowrap"> Just now </div>
            </li>
            <% } %>



            <!-- Button -->
            <li class="mt-3 d-grid">
              <a class="btn btn-outline-primary" href="messaging.html"> See all in messaging </a>
            </li>

          </ul>

        </div>
      </div>
      <!-- Offcanvas body END -->
    </div>
    <!-- Chat sidebar END -->

    <!-- Chat END -->

    <!-- Chat START -->
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container toast-chat d-flex gap-3 align-items-end">
        <!-- Chat toast START -->


      </div>
    </div>
    <!-- Chat END -->

  </div>
  <% } %>
</div>

<% if (locals.user) { %> <%- include('_modals') %> <% } %>
<script src="<%=assetPath('js/news_api.js')%>"></script>
<script src="https://cdn.tiny.cloud/1/c0c5b7oqhwccsmdbgw2l3r2vfqnkaiomz836ijp80aqrconh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>

<script src="<%= assetPath('js/notification.js') %>"></script>
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<script src="<%= assetPath('js/voting_poll.js') %>"></script>
<script src="<%= assetPath('js/home_post_comment_replies.js') %>"></script>
<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->

<script>
  $('.tox-statusbar').addClass('d-none');

  function getTimePosted(date) {
    var time = new Date(date);
    //get today time but in same timezone as date
    var today = new Date().toLocaleString("en-US", {
      timeZone: "Asia/Kolkata",
    });
    today = new Date(today);
    var diff = today - time;
    var seconds = Math.floor(diff / 1000);
    var minutes = Math.floor(seconds / 60);
    var hours = Math.floor(minutes / 60);
    var days = Math.floor(hours / 24);
    var months = Math.floor(days / 30);
    var years = Math.floor(months / 12);
    if (years > 0) {
      return years + " years ago";
    } else if (months > 0) {
      return months + " months ago";
    } else if (days > 0) {
      return days + " days ago";
    } else if (hours > 0) {
      return hours + " hours ago";
    } else if (minutes > 0) {
      return minutes + " minutes ago";
    } else if (seconds > 0) {
      return seconds + " seconds ago";
    } else {
      return "Just now";
    }
  }

  function getTimeInString(date) {
    // get date and time
    var time = new Date(date);
    //Get Date and time in form DD/MMMM/YEAR, HH:MM AM/PM
    var strTime =
      time.getDate() +
      "-" +
      time.toLocaleString("default", {
        month: "long"
      }) +

      ", " +
      time.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: true,
      });
    return strTime;
  }
  var replyTime = document.querySelectorAll(".time-posted");
  for (var i = 0; i < replyTime.length; i++) {
    replyTime[i].innerHTML = getTimePosted(replyTime[i].innerHTML);
  }
  var createdTime = document.querySelectorAll(".updated-time");
  for (var i = 0; i < createdTime.length; i++) {
    createdTime[i].innerHTML = getTimeInString(createdTime[i].innerHTML);
  }
</script>

<script>
  $(".toggle-like-button").each(function() {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });

  function filePreview(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      //check file type
      if (
        input.files[0].type != "image/jpeg" &&
        input.files[0].type != "image/png" &&
        input.files[0].type != "image/jpg"
      ) {
        new Noty({
          theme: "relax",
          text: "Invalid File Format",
          type: "error",
          layout: "topRight",
          timeout: 1500,
        }).show();
        //reset file input
        $(input).val("");

        return;
      }
      reader.onload = function(e) {
        $("#post-image-preview >img").remove();
        $("#post-image-preview").append(
          '<img id="preview" src="' +
          e.target.result.toString() +
          '" width="100" height="100" />'
        );
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#image").change(function() {
    filePreview(this);
  });
</script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {


  });
  window.addEventListener("scroll", (e) => {
    const profileGroup = document.getElementById("weather-containers");
    const linkedinSection = document.getElementById("news-card-container");
    const rightAside = document.getElementById("right-sidebar");
    const userFriends = document.getElementById("user-friends-container");
    const newsfriendcombined = document.getElementById("freiends-news-tab");
    //check if width is less than 992px
    if (window.innerWidth < 768) {
      return;
    }
    if (window.innerWidth < 992) {

    } else {
      if (window.scrollY > 590) {
        profileGroup.classList.add("position-fixed", "weather-card-container-fixed");
        userFriends.classList.add("position-fixed", "user-friends-container-fixed");
      } else {
        profileGroup.classList.remove("position-fixed", "weather-card-container-fixed");
        userFriends.classList.remove("position-fixed", "user-friends-container-fixed");
      }
    }
  });
</script>