<html>
<head>
    <title>Codeial</title>  
    <link href="https://cdnout.com/noty/noty.min.css" rel="stylesheet" media="all">
    <script src="https://cdnout.com/noty/noty.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/4499aac38f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%=assetPath('css/layout.css')%>">
    <link rel="stylesheet" href="<%=assetPath('css/header.css')%>">
    <link rel="stylesheet" href="<%=assetPath('css/footer.css')%>">
    <link rel="stylesheet" href="<%=assetPath('css/search.css')%>">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' 'unsafe-inline' ; script-src 'self'">  -->
    <%- style %>
</head>
<body >
    
    <%- include('_header') %>
    
    <div id="main-containe">
        <%- body %>
    </div>
    <%- include('_footer') %>

    <!-- <script src="/js/bootstrap.bundle.js"></script> -->
    <script src="<%=assetPath('js/sendFriendReq.js')%>"></script>
    <%- script %>
    <script>
        <% if(flash.success && flash.success.length>0){ %>
            new Noty({
                theme: 'relax',
                text: "<%=flash.success%>",
                type: 'success',
                layout: 'topRight',
                timeout: 3000
            }).show();
        <% } %>
        <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme: 'relax',
                text: "<%=flash.error%>",
                type:'error',
                layout: 'topRight',
                timeout: 3000
            }).show();
        <% } %>
    </script>
</body>
</html>