<link rel="stylesheet" href="<%=assetPath('css/search.css')%>">
<% if(locals.user){%>
    <section id="search-section">
        <div id="search-container">
            <%if(users.length>=1){%>
        <%for(i of users){ %>
            <% if(i.id!=locals.user.id){%>
                <div class="usercard">
                <% if(i.avatar){%>
                    <img class="usercard-image" src="<%=i.avatar%>">
                <%}else{%>
                    <img class="usercard-image" src="<%=assetPath('images/default-avatar.png')%>">
                <%}%>
                    <h4 class="usercard-name">
                        <a href="/users/profile/<%=i.id%>"><%=i.name%></a>
                    </h4>
                    <p class="usercard-username">
                        <%=i.username%>
                    </p>
                    <form action="" method="get" class="add_friend">
                        <input type="hidden" name="receiverName" class="receiverName" value="<%=i.username%>">
                        <input type="hidden" name="sender-name" class="sender-name" value="<%=locals.user.username%>">
                        
                        <% if(friend){%>
                        <% if(sent && sent.includes(i.username)){%>
                            <button type="submit" id=""  class="requestpen friend-add"><i class="fa-solid fa-clock"></i> Request Pending</button>
                        <%}else if(friend.includes(i.username)){%>
                            <button type="submit" id=""  class="already-friend friend-add"><i class="fa fa-user"></i> Already Friends</button>
                        <%}else{%>
                            <button type="submit" id="<%=i.username%>" onclick="addFriend('<%=i.username%>')" class=" accept friend-add"><i class="fa fa-user"></i> Add Friend</button>
                        <%}%>
                        <%}else{%>
                            <button type="submit" id="<%=i.username%>" onclick="addFriend('<%=i.username%>')" class=" accept friend-add"><i class="fa fa-user"></i> Add Friend</button>
                        <%}%>
                    </form>
                </div>
            <%}%>
        <%}%>
        <%}else{%>
            <h3>No users found !! </h3>
        <%}%>
        </div>
    </section>
<%}%>